.about { //TDOD: don't forget to delete
    background-color: var(--about-bg);
    padding: em(70px) em(10px);

    img {
        padding: em(0px) em(10px);
    }

    h1, h2, h3 {
        margin: em(4px);
    }
    
}