.canvas-box{
   position: relative;
  
   
}
.meme-canvas-div{
    z-index: 1;
    width: 100%;
 
}
.txt-canvas-div{
    position: absolute;
    z-index: 2;

    
    // width: 500px;
    // height: 360px;
  
}

.meme-canvas{
    // width: 500px;
    // height: 360px;
}   

.txt-canvas{
    //  width: 500px;
    // height: 360px;
    // flex-grow:2 
}


