
.meme-canvas{
    background-color: lightgray;
    border: 1px solid black;
}

.meme-editor{
    
}


.meme-toolbox {
    button {
        transition: color 0.3s;
        &:hover {
            color: green;
        }
    }
}