
.meme-toolbox {
    input.tool-box-txt{
        width:100%;
        border-radius: 4px;
        margin-top: 7px;
        margin-bottom: 7px;
        height:30px;
        padding-left: 7px;

    }
    button {
        border:none;
        border-radius: 4px;
        margin: 2px;
        height: 30px;
        width:30px;
            cursor: pointer;
            transition: color 0.3s;
            &:hover {
                color: green;
                border: 1px solid gray;
            }
    }
}
