.gallery {
    display: block;
    border: 2px solid var(--main-color);
}

.search-input {
    text-align: center;
    margin: auto;
}

.responsive-gallery {
}

.tags-display {
    background-color: blue;
    flex-grow: 1;
}

.img-display {
    flex-grow: 4;
}

.thumbnails {
    li {
        img {
            max-width: em(150px);
            max-height: em(150px);
            margin: em(10px);
            cursor: pointer;
            transition: border 0.3s;
            &:hover {
                border: var(--img-hover-border);
            }
        }
    }
}