.search-input {
    background-color: yellow;
    text-align: center;
}

.responsive-gallery {
}

.tags-display {
    background-color: blue;
    height: 300px; //TODO: Don't forget to remove!
    flex-grow: 1;
}

.img-display {
    background-color: pink;
    height: 300px; //TODO: Don't forget to remove!    
    flex-grow: 4;
}

.thumbnails {
<<<<<<< HEAD
    li{
      img {
            height: 50px;
            }
      }
=======
    li {
        img {
            height: 100px;
        }
    }
>>>>>>> 810a4be7f5cf423599e8cfe94311ce9a7b66d0f6
}