.clean-list {
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.center {
  margin: auto;
  text-align: center;
}

.unseen {
  visibility: hidden;
}

.outside {
  transform: translateX(-100%);
}

.go-inside {
  animation: out-to-in 1s ease-in forwards;
}

.go-outside {
  animation: in-to-out 1s ease-in forwards;
}