/*----------  Containers  ----------*/

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  // padding: 0 1em;
}

.inner-container {
  width: var(--inner-container-width);
  margin: 0 auto;
}

// @media (max-width: #{$container-width - 10}) {
//   .container,
//   .inner-container {
//     max-width: 98%;
//   }
// }


/*----------  Flex Helpers  ----------*/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-sart {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.justify-start {
  justify-content: flex-start;
}

.align-self-start {
  align-self: flex-start;
}

.flex-1 {
  flex: 1;
}

.flex-stretch {
  align-items: stretch;
}
/* General Helpers*/

/* Breakpoint mixins */

// @mixin for-mobile-only {
//   @media (max-width: $mobile-breakpoint) {
//     @content;
//   }
// }