$container-width: 1063px;
$mobile-breakpoint: 642px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Lato;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #626262;
  --sections-bg: #f0f0f0;
  --top-nav-bg: #323232;
  --li-hover: #2ab499;
  --img-hover-border: em(2px) solid darkgreen;

}


