.search-input {
    background-color: yellow;
    text-align: center;
}

.responsive-gallery {
}

.tags-display {
    background-color: blue;
    height: 300px; //TODO: Don't forget to remove!
    flex-grow: 1;
}

.img-display {
    background-color: pink;
    height: 300px; //TODO: Don't forget to remove!    
    flex-grow: 4;
}